In [1]:
import pandas as pd
import numpy as np
from numpy import dtype
pd.set_option('display.max_columns', None)

In [16]:
na_values=['NA', 'nan']

# Store labels as string because later we will concatinate them
dtype = {'fecha_dato':np.str, 'fecha_alta':np.str}

iter_csv = pd.read_csv('../data/raw/train.csv.zip', na_values = na_values, skipinitialspace = True, 
                       iterator=True, chunksize=100000, dtype=dtype)

#corrupted = pd.concat([chunk[chunk['ncodpers'].between(660248, 660250)] for chunk in iter_csv]) #Small dataset could be used for testing
corrupted = pd.concat([chunk for chunk in iter_csv])

/Users/petr/Applications/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2821: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):
/Users/petr/Applications/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2821: DtypeWarning: Columns (10,15) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):
/Users/petr/Applications/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2821: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):
/Users/petr/Applications/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2821: DtypeWarning: Columns (10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):
/Users/petr/Applications/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2821: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):
/Users/petr/Applications/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2821: DtypeWarning: Columns (11,15) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):
/Users/petr/Applications/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2821: DtypeWarning: Columns (10,11,15) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):
/Users/petr/Applications/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2821: DtypeWarning: Columns (11,12,16,23) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

In [17]:
corrupted[corrupted.ncodpers == 15891]

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,ult_fec_cli_1t,indrel_1mes,tiprel_1mes,indresi,indext,conyuemp,canal_entrada,indfall,tipodom,cod_prov,nomprov,ind_actividad_cliente,renta,segmento,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_ctma_fin_ult1,ind_ctop_fin_ult1,ind_ctpp_fin_ult1,ind_deco_fin_ult1,ind_deme_fin_ult1,ind_dela_fin_ult1,ind_ecue_fin_ult1,ind_fond_fin_ult1,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
78994,2015-07-28,15891,N,ES,H,59.0,2015-07-28,0.0,246.0,1.0,NaN,2,A,S,N,N,KAT,N,1.0,28.0,MADRID,1.0,NaN,NaN,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
19232,2015-08-28,15891,N,ES,H,59.0,2015-07-28,0.0,246.0,99.0,2015-08-05,1,A,S,N,N,KAT,N,1.0,28.0,MADRID,0.0,NaN,02 - PARTICULARES,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0

In [3]:
# Remove corrupted entries
print('%d users before cleaning' % len(corrupted.ncodpers.unique()))
corrupted = corrupted[corrupted.age.notnull()]
corrupted = corrupted[corrupted.sexo.notnull()]
print('%d users after cleaning' % len(corrupted.ncodpers.unique()))
corrupted.drop('nomprov', axis=1, inplace=True) # Drop province name. It is 100% useless

956645 users before cleaning
949609 users after cleaning

In [4]:
corrupted.sort_values(['ncodpers', 'fecha_dato'], inplace=True)
corrupted.reset_index(drop=True, inplace=True)
X_train = corrupted.ix[:,:'segmento']

In [5]:
X_train.head()

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,ult_fec_cli_1t,indrel_1mes,tiprel_1mes,indresi,indext,conyuemp,canal_entrada,indfall,tipodom,cod_prov,ind_actividad_cliente,renta,segmento
0,2015-01-28,15889,F,ES,V,56.0,1995-01-16,0.0,245.0,1.0,NaN,1,A,S,N,N,KAT,N,1.0,28.0,1.0,326124.9,01 - TOP
1,2015-02-28,15889,F,ES,V,56.0,1995-01-16,0.0,245.0,1.0,NaN,1,A,S,N,N,KAT,N,1.0,28.0,1.0,326124.9,01 - TOP
2,2015-03-28,15889,F,ES,V,56.0,1995-01-16,0.0,245.0,1.0,NaN,1,A,S,N,N,KAT,N,1.0,28.0,1.0,326124.9,01 - TOP
3,2015-04-28,15889,F,ES,V,56.0,1995-01-16,0.0,245.0,1.0,NaN,1,A,S,N,N,KAT,N,1.0,28.0,1.0,326124.9,01 - TOP
4,2015-05-28,15889,F,ES,V,56.0,1995-01-16,0.0,245.0,1.0,NaN,1,A,S,N,N,KAT,N,1.0,28.0,1.0,326124.9,01 - TOP

In [6]:
y_train = corrupted.ix[:,'ind_ahor_fin_ult1':]
y_train.insert(0, 'ncodpers', X_train.ix[:,'ncodpers'])

In [7]:
y_train.head()

,ncodpers,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_ctma_fin_ult1,ind_ctop_fin_ult1,ind_ctpp_fin_ult1,ind_deco_fin_ult1,ind_deme_fin_ult1,ind_dela_fin_ult1,ind_ecue_fin_ult1,ind_fond_fin_ult1,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,15889,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0.0,0.0,0
1,15889,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0.0,0.0,0
2,15889,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0.0,0.0,0
3,15889,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0.0,0.0,0
4,15889,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0.0,0.0,0

In [8]:
del corrupted

In [9]:
def sub_code_and_toint(text):
    return 0.0 if pd.isnull(text) else float(str(text)[1:2])
    
def preprocess_features(X):
    X.ind_empleado.replace(to_replace=[1.0, 99.0], value=[1.0, 0.0], inplace=True)
    
    X.indext.replace(to_replace=['S', 'N'], value=[1.0, 0.0], inplace=True)
    X.indresi.replace(to_replace=['S', 'N'], value=[1.0, 0.0], inplace=True)
    
    X.sexo.replace(to_replace=['V', 'H'], value=[1.0, 0.0], inplace=True)
    
    X.segmento = X.segmento.apply(sub_code_and_toint)

In [10]:
preprocess_features(X_train)
X_train.head()

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,ult_fec_cli_1t,indrel_1mes,tiprel_1mes,indresi,indext,conyuemp,canal_entrada,indfall,tipodom,cod_prov,ind_actividad_cliente,renta,segmento
0,2015-01-28,15889,F,ES,1.0,56.0,1995-01-16,0.0,245.0,1.0,NaN,1,A,1.0,0.0,N,KAT,N,1.0,28.0,1.0,326124.9,1.0
1,2015-02-28,15889,F,ES,1.0,56.0,1995-01-16,0.0,245.0,1.0,NaN,1,A,1.0,0.0,N,KAT,N,1.0,28.0,1.0,326124.9,1.0
2,2015-03-28,15889,F,ES,1.0,56.0,1995-01-16,0.0,245.0,1.0,NaN,1,A,1.0,0.0,N,KAT,N,1.0,28.0,1.0,326124.9,1.0
3,2015-04-28,15889,F,ES,1.0,56.0,1995-01-16,0.0,245.0,1.0,NaN,1,A,1.0,0.0,N,KAT,N,1.0,28.0,1.0,326124.9,1.0
4,2015-05-28,15889,F,ES,1.0,56.0,1995-01-16,0.0,245.0,1.0,NaN,1,A,1.0,0.0,N,KAT,N,1.0,28.0,1.0,326124.9,1.0
5,2015-06-28,15889,F,ES,1.0,56.0,1995-01-16,0.0,245.0,1.0,NaN,1,A,1.0,0.0,N,KAT,N,1.0,28.0,1.0,326124.9,1.0
6,2015-07-28,15889,F,ES,1.0,56.0,1995-01-16,0.0,245.0,1.0,NaN,1,A,1.0,0.0,N,KAT,N,1.0,28.0,1.0,326124.9,1.0
7,2015-08-28,15889,F,ES,1.0,56.0,1995-01-16,0.0,246.0,1.0,NaN,1,A,1.0,0.0,N,KAT,N,1.0,28.0,1.0,326124.9,1.0
8,2015-09-28,15889,F,ES,1.0,56.0,1995-01-16,0.0,247.0,1.0,NaN,1,A,1.0,0.0,N,KAT,N,1.0,28.0,1.0,326124.9,1.0
9,2015-10-28,15889,F,ES,1.0,56.0,1995-01-16,0.0,248.0,1.0,NaN,1,A,1.0,0.0,N,KAT,N,1.0,28.0,1.0,326124.9,1.0
10,2015-11-28,15889,F,ES,1.0,56.0,1995-01-16,0.0,249.0,1.0,NaN,1,A,1.0,0.0,N,KAT,N,1.0,28.0,1.0,326124.9,1.0
11,2015-12-28,15889,F,ES,1.0,56.0,1995-01-16,0.0,250.0,1.0,NaN,1,A,1.0,0.0,N,KAT,N,1.0,28.0,1.0,326124.9,1.0
12,2016-01-28,15889,F,ES,1.0,56.0,1995-01-16,0.0,251.0,1.0,NaN,1,A,1.0,0.0,N,KAT,N,1.0,28.0,1.0,326124.9,1.0
13,2016-02-28,15889,F,ES,1.0,56.0,1995-01-16,0.0,252.0,1.0,NaN,1,A,1.0,0.0,N,KAT,N,1.0,28.0,1.0,326124.9,1.0
14,2016-03-28,15889,F,ES,1.0,56.0,1995-01-16,0.0,253.0,1.0,NaN,1,A,1.0,0.0,N,KAT,N,1.0,28.0,1.0,326124.9,1.0
15,2016-04-28,15889,F,ES,1.0,56.0,1995-01-16,0.0,254.0,1.0,NaN,1,A,1.0,0.0,N,KAT,N,1.0,28.0,1.0,326124.9,1.0
16,2016-05-28,15889,F,ES,1.0,56.0,1995-01-16,0.0,255.0,1.0,NaN,1,A,1.0,0.0,N,KAT,N,1.0,28.0,1.0,326124.9,1.0
17,2015-01-28,15890,A,ES,1.0,62.0,1995-01-16,0.0,246.0,1.0,NaN,1,A,1.0,0.0,N,KAT,N,1.0,28.0,1.0,71461.2,2.0

In [11]:
y_dict = {} #dict of user-id products for each month

def productMonthFraction(rows):
    labels = [rows.iloc[0]['ncodpers']]
    products = np.amax(rows.ix[:,1:], axis=0) #only products flags
    labels.extend(products)

    y_dict[labels[0]] = labels

In [12]:
y_train.groupby('ncodpers').apply(productMonthFraction)

Empty DataFrame
Columns: []
Index: []

In [13]:
test = pd.read_csv('../data/raw/test.csv.zip', usecols=['ncodpers'])

In [14]:
len(test[~test.ncodpers.isin(y_dict.keys())])

5

In [18]:
X_train.drop_duplicates(['ncodpers'], keep='last', inplace=True)
X_train.reset_index(drop=True, inplace=True)

In [19]:
X_train.head()

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,ult_fec_cli_1t,indrel_1mes,tiprel_1mes,indresi,indext,conyuemp,canal_entrada,indfall,tipodom,cod_prov,ind_actividad_cliente,renta,segmento
0,2016-05-28,15889,F,ES,1.0,56.0,1995-01-16,0.0,255.0,1.0,NaN,1,A,1.0,0.0,N,KAT,N,1.0,28.0,1.0,326124.90,1.0
1,2016-05-28,15890,A,ES,1.0,63.0,1995-01-16,0.0,256.0,1.0,NaN,1,A,1.0,0.0,N,KAT,N,1.0,28.0,1.0,71461.20,1.0
2,2015-08-28,15891,N,ES,0.0,59.0,2015-07-28,0.0,246.0,99.0,2015-08-05,1,A,1.0,0.0,N,KAT,N,1.0,28.0,0.0,NaN,2.0
3,2016-05-28,15892,F,ES,0.0,62.0,1995-01-16,0.0,256.0,1.0,NaN,1,A,1.0,0.0,N,KAT,N,1.0,28.0,1.0,430477.41,1.0
4,2016-05-28,15893,N,ES,1.0,63.0,1997-10-03,0.0,256.0,1.0,NaN,1,A,1.0,0.0,N,KAT,N,1.0,28.0,1.0,430477.41,2.0

In [20]:
len(test[~test.ncodpers.isin(X_train.ncodpers)])

5

In [21]:
columns_names = ['ncodpers_y', 'ind_ahor_fin_ult1', 'ind_aval_fin_ult1', 'ind_cco_fin_ult1', 'ind_cder_fin_ult1', 
                'ind_cno_fin_ult1', 'ind_ctju_fin_ult1', 'ind_ctma_fin_ult1', 'ind_ctop_fin_ult1', 
                'ind_ctpp_fin_ult1', 'ind_deco_fin_ult1', 'ind_deme_fin_ult1', 'ind_dela_fin_ult1', 
                'ind_ecue_fin_ult1', 'ind_fond_fin_ult1', 'ind_hip_fin_ult1', 'ind_plan_fin_ult1', 
                'ind_pres_fin_ult1', 'ind_reca_fin_ult1', 'ind_tjcr_fin_ult1', 'ind_valo_fin_ult1', 
                'ind_viv_fin_ult1', 'ind_nomina_ult1', 'ind_nom_pens_ult1', 'ind_recibo_ult1']

fraction = pd.DataFrame.from_dict(y_dict, orient='index')
fraction.reset_index(drop=True, inplace=True)
fraction.columns = columns_names
fraction.head()

,ncodpers_y,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_ctma_fin_ult1,ind_ctop_fin_ult1,ind_ctpp_fin_ult1,ind_deco_fin_ult1,ind_deme_fin_ult1,ind_dela_fin_ult1,ind_ecue_fin_ult1,ind_fond_fin_ult1,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,15889.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
1,15890.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0
2,15891.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,15892.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0
4,15893.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [22]:
X_train = X_train.merge(fraction, left_on='ncodpers', right_on='ncodpers_y', how='inner')
X_train.drop(['fecha_dato', 'ncodpers_y'], axis=1, inplace=True)
X_train.head()

,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,ult_fec_cli_1t,indrel_1mes,tiprel_1mes,indresi,indext,conyuemp,canal_entrada,indfall,tipodom,cod_prov,ind_actividad_cliente,renta,segmento,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_ctma_fin_ult1,ind_ctop_fin_ult1,ind_ctpp_fin_ult1,ind_deco_fin_ult1,ind_deme_fin_ult1,ind_dela_fin_ult1,ind_ecue_fin_ult1,ind_fond_fin_ult1,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,15889,F,ES,1.0,56.0,1995-01-16,0.0,255.0,1.0,NaN,1,A,1.0,0.0,N,KAT,N,1.0,28.0,1.0,326124.90,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
1,15890,A,ES,1.0,63.0,1995-01-16,0.0,256.0,1.0,NaN,1,A,1.0,0.0,N,KAT,N,1.0,28.0,1.0,71461.20,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0
2,15891,N,ES,0.0,59.0,2015-07-28,0.0,246.0,99.0,2015-08-05,1,A,1.0,0.0,N,KAT,N,1.0,28.0,0.0,NaN,2.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,15892,F,ES,0.0,62.0,1995-01-16,0.0,256.0,1.0,NaN,1,A,1.0,0.0,N,KAT,N,1.0,28.0,1.0,430477.41,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0
4,15893,N,ES,1.0,63.0,1997-10-03,0.0,256.0,1.0,NaN,1,A,1.0,0.0,N,KAT,N,1.0,28.0,1.0,430477.41,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [23]:
X_train.to_csv('../data/processed/train-processed.csv.gz', index=False, compression='gzip')

In [24]:
print(len(X_train.ncodpers))
print(len(X_train.ncodpers.unique()))

949609
949609