In [9]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('../data/processed/train-normalized.csv.gz', skipinitialspace = True)

In [11]:
data.tail()

,ncodpers,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,ult_fec_cli_1t,indrel_1mes,indresi,...,ind_empleado_B,ind_empleado_F,ind_empleado_N,ind_empleado_S,tiprel_1mes_A,tiprel_1mes_I,tiprel_1mes_P,tiprel_1mes_R,lat,lon
931181,1166765,1.0,0.123457,0.869203,0.0,0.999777,1.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.764151,0.355072
931182,1166764,1.0,0.129630,0.869203,0.0,0.999777,1.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.764151,0.355072
931183,1166763,0.0,0.277778,0.869203,0.0,0.999777,1.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.764151,0.355072
931184,1166789,0.0,0.123457,0.869203,0.0,0.999777,1.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.764151,0.355072
931185,1550586,0.0,0.216049,0.997694,1.0,0.999744,1.0,0.0,1.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.764151,0.355072

In [13]:
no_id = data.drop('ncodpers', axis=1)

In [16]:
U, S, V = np.linalg.svd()

(931186, 50)